table {
  width: 100%;
}

.controls {
  display: flex;
  width: 100%;
}

.controls .mat-form-field {
  flex-grow: 1;
}

.book-photo {
  height: 100px;
}

.mat-column-first_publish_year {
  width: 10%;
  min-width: 130px;
}

.mat-column-thumbnail {
  width: 10%;
  min-width: 130px;
}

.mat-column-subject {
  width: 35%;
  min-width: 200px;
}

.mat-row:hover {
  background-color: rgb(220, 220, 220, .5);
  cursor: pointer;
}

.container-padding {
  padding: 0 20px;
}
