<div class="header">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button class="companyName" routerLink="/">
      <span>Open Books</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/" routerLinkActive="active">Home</a>
      <a mat-button routerLink="/fav" routerLinkActive="active">Favorite Books</a>
    </div>
  </mat-toolbar>
</div>
