<div>
  <!--<div class="example-loading-shade" *ngIf="!(details$ | async)">-->
  <!--<mat-spinner></mat-spinner>-->
  <!--</div>-->
  <mat-card *ngIf="details$ | async as details">
    <div class="container">
      <div class="cover">
        <img [src]="details.book.cover()" [alt]="details.book.title">
      </div>
      <div class="info">
        <h1 class="mat-headline">{{details.book.title}}</h1>
        <p><i>{{details.book.subtitle}}</i></p>
        <p class="with-list" *ngIf="details.book.authors">{{'by' | translate}}
          <span *ngFor="let author of details.book.authors">{{author.name}}</span>
        </p>
        <p class="with-list">
          {{'Published'|translate}} <b>{{details.book.publishDate}}</b> {{'by' | translate}} <span
          *ngFor="let publisher of details.book.publishers">{{publisher}}</span>
        </p>
        <p *ngIf="details.book.weight">{{'Weight' | translate}}: <b>{{details.book.weight}}</b></p>
        <div *ngIf="details.book.isbn()">
          <p>
            Amazon: <a target="_blank" [href]="details.book.amazonLink()">{{'open'|translate}}</a>
          </p>
          <p>
            Google: <a target="_blank" [href]="details.book.googleLink()">{{'open'|translate}}</a>
          </p>
        </div>

        <mat-form-field class="tags-list">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of bookLocal.tags"
                      [selectable]="true"
                      [removable]="true"
                      (removed)="remove(tag)">
              {{tag}}
              <mat-icon matChipRemove>{{"cancel"|translate}}</mat-icon>
            </mat-chip>
            <input
              [placeholder]="'New tag' | translate"
              [matChipInputFor]="chipList"
              (matChipInputTokenEnd)="add($event)"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            >
          </mat-chip-list>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
</div>
